# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Database
career_guidance.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Streamlit Cache
.streamlit/secrets.toml